/* Center countdown container using flexbox */
.countdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: calc(100vh - 60px);
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  

  /* Apple style glass background */
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  max-width: 90%;
  margin: auto;
}

/* Set global font family */
body {
  font-family: 'Inter', sans-serif;
}

body {
  margin-top: 50px;
  height: 100vh;
  font-family: 'Inter', sans-serif;

  background: url('background.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* Make h1 responsive */
.countdown-container h1 {
  font-size: 5vw;
  font-weight: 800;
  margin-top: auto;
  margin-bottom: auto;
}
.countdown-container h2 {
  font-size: 5vw;
  font-weight: 200;
}

#main-title{
  margin-top: 100px;
}

.countdown-container h1, #countdown {
  color: #1f1f1f;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}
/* Responsive for smaller devices */
@media (max-width: 600px) {
  .countdown-container h1 {
    font-size: 5vw;
  }
}

/* Countdown numbers */
#countdown {
  font-size: 5vw;
  font-weight: 600;
  margin-bottom: 200px;
}

@media (max-width: 600px) {
  #countdown {
    font-size: 5vw;
  }
}
/* Signature fixed at bottom */
.signature {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  color: #1f1f1f;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 20px 20px;
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.3);
}
